 {% if user.is_authenticated %}
    <form action="." method="post" class="form-group" id="comment_form">
    <div class="jumbotron post">
        <h3 class="text-center">POST A COMMENT</h3>
        <textarea id="id_body" name="body" class="form-control" required=""></textarea>
    {% csrf_token %}
        <input type="submit" id="submit" class="btn btn-default" value="Add comment">
    </div>
    </form>
    </div>
    <script>
    $("#submit").click(function (e) {
        e.preventDefault();
        var csrftoken = getCookie('csrftoken');
        var id_body = $('#id_body').val();

        $.ajax({
            url: window.location.href,
            type: "POST",
            DataType: "json",
            data: {
                csrfmiddlewaretoken: csrftoken,
                id_body: id_body
            },
            success: function (json) {
                console.log(json);
                
            }
        })
    };)
    </script>
{% endif %}
